.footer
    .container
        .row
            .col.pt-5.pb-5
                p.text-center
                .logo.text-center.mx-auto
                p
                hr
                p.small.text-center © AssetBM 2021 - ABN 70 169 557 466 - ACN 169 577 466
