.footer.pt-5.container-fluid.p-0 
        .skew
        .deskew
        .row.no-gutters
            .col.offset-md-8.col-md-4
                p.text-center
                .logo.text-center.mx-auto
                p
                //hr
                p.small.text-center © AssetBM 2021 - ABN 70 169 557 466 - ACN 169 577 466
