doctype html
html(lang="en-AU")
	head
		meta(charset='utf-8')
		meta(httpequiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title #{pagetitle} | AssetBM 
		meta(property='og:title' content=''+ og_title +'')
		meta(property='og:site_name' content=''+ og_site_name+ '')
		meta(property='og:url' content='' + og_url + '')
		meta(property='og:description' content='' + og_description + '')
		meta(property='og:type' content='website')
		meta(property='og:image' content='' + og_image + '')
		meta(property='og:locale' content='en_AU')
		link(rel="stylesheet" href="main.css")
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
		link(rel='apple-touch-icon' sizes='180x180' href='assets/img/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='assets/img//favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='assets/img//favicon-16x16.png')
		link(rel='manifest' href='assets/img/site.webmanifest')
		link(rel='mask-icon' href='assets/img/safari-pinned-tab.svg' color='#5bbad5')
		meta(name='msapplication-TileColor' content='#ffffff')
		meta(name='theme-color' content='#ffffff')
		script(type='text/javascript').
			function checkElementLocation() {
			var $window = $(window);
			var bottom_of_window = $window.scrollTop() + $window.height();
			$('p,h1,h2,.b').each(function(i) {
			var $that = $(this);
			var bottom_of_object = $that.position().top + $that.outerHeight();
			//if element is in viewport, add the animate class
			if (bottom_of_window > bottom_of_object) {
			$(this).addClass('fade-in');
			}
			});
			}
			// if in viewport, show the animation
			checkElementLocation();
			$(window).on('scroll', function() {
			checkElementLocation();
			});