// modal 1       
#ModalOne.modal.fade(role='dialog' aria-labelledby='ModalOneLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title 1060 Carnegie

            .modal-body

                #carouselIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselIndicators' data-slide-to='0')
                        li(data-target='#carouselIndicators' data-slide-to='1')
                        li(data-target='#carouselIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='/assets/img/1060/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/1060/2.jpg' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/1060/3.jpg' alt='Third slide')
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead 1060 Dandenong Road, Carnegie. 
                    p Facilties Under management 
                        ul
                            li 173 Residential lots,
                            li 2 Commercial lots
                            li 4 Elevators    
                            li BBQ
                            li Communal area
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close
// modal 3       
#ModalThree.modal.fade(role='dialog' aria-labelledby='ModalThreeLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Modal Three

            .modal-body

                #carouselIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselIndicators' data-slide-to='0')
                        li(data-target='#carouselIndicators' data-slide-to='1')
                        li(data-target='#carouselIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='/assets/img/1060/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/1060/2.jpg' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/1060/3.jpg' alt='Third slide')
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Modal Three
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close      
// modal 4       
#ModalFour.modal.fade(role='dialog' aria-labelledby='ModalFourLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Modal Four

            .modal-body

                #carousel4Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel4Indicators' data-slide-to='0')
                        li(data-target='#carousel4Indicators' data-slide-to='1')
                        li(data-target='#carouse4Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='/assets/img/lakeside/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/3.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/4.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/5.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/6.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/7.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/8.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/9.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/10.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/11.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/12.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/lakeside/13.jpg' alt='First slide')                   
                    a.carousel-control-prev(href='#carousel4Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel4Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Modal Four
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close                   
// modal 2       
#ModalTwo.modal.fade(role='dialog' aria-labelledby='ModalTwoLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Galleria

            .modal-body

                #carousel2Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel2Indicators' data-slide-to='0')
                        li(data-target='#carousel2Indicators' data-slide-to='1')
                        li(data-target='#carousel2Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='/assets/img/galleria/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/galleria/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/galleria/3.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/galleria/4.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/galleria/5.jpg' alt='First slide')     
                    a.carousel-control-prev(href='#carousel2Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel2Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Galleria 
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close                
       
// modal 5       
#ModalFive.modal.fade(role='dialog' aria-labelledby='ModalFiveLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Hawthorn Park

            .modal-body

                #carousel5Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel5Indicators' data-slide-to='0')
                        li(data-target='#carousel5Indicators' data-slide-to='1')
                        li(data-target='#carousel5Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='/assets/img/hawthorn/1.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='/assets/img/hawthorn/2.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='/assets/img/hawthorn/3.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='/assets/img/hawthorn/4.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='/assets/img/hawthorn/5.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='/assets/img/hawthorn/6.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='/assets/img/hawthorn/7.jpg' alt='First slide')   
                        .carousel-item
                             img.d-block.w-100(src='/assets/img/hawthorn/8.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='/assets/img/hawthorn/9.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='/assets/img/hawthorn/10.jpg' alt='First slide')                 
                    a.carousel-control-prev(href='#carousel5Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel5Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Hawthorn Park
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close        

// modal 6       
#ModalSix.modal.fade(role='dialog' aria-labelledby='ModalSixLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Modal six

            .modal-body

                #carouselIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselIndicators' data-slide-to='0')
                        li(data-target='#carouselIndicators' data-slide-to='1')
                        li(data-target='#carouselIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=1' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=2' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=3' alt='Third slide')
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Modal Six
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close      
// modal 7       
#ModalSeven.modal.fade(role='dialog' aria-labelledby='ModalSevenLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Modal Seven

            .modal-body

                #carouselIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselIndicators' data-slide-to='0')
                        li(data-target='#carouselIndicators' data-slide-to='1')
                        li(data-target='#carouselIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=1' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=2' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=3' alt='Third slide')
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Modal seven
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close                                          
// modal 8       
#ModalEight.modal.fade(role='dialog' aria-labelledby='ModalEightLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Modal Eight

            .modal-body

                #carouselIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselIndicators' data-slide-to='0')
                        li(data-target='#carouselIndicators' data-slide-to='1')
                        li(data-target='#carouselIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=1' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=2' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=3' alt='Third slide')
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Modal Eight 
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close        
// modal 9       
#ModalNine.modal.fade(role='dialog' aria-labelledby='ModalNineLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Modal Nine

            .modal-body

                #carouselIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselIndicators' data-slide-to='0')
                        li(data-target='#carouselIndicators' data-slide-to='1')
                        li(data-target='#carouselIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=1' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=2' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=3' alt='Third slide')
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Modal Nine 
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close      
// modal 10       
#ModalTen.modal.fade(role='dialog' aria-labelledby='ModalTenLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Modal Ten

            .modal-body

                #carouselIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselIndicators' data-slide-to='0')
                        li(data-target='#carouselIndicators' data-slide-to='1')
                        li(data-target='#carouselIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=1' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=2' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=3' alt='Third slide')
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Modal Ten 
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close    
// modal 11       
#ModalEleven.modal.fade(role='dialog' aria-labelledby='ModalElevenLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Modal Eleven

            .modal-body

                #carouselIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselIndicators' data-slide-to='0')
                        li(data-target='#carouselIndicators' data-slide-to='1')
                        li(data-target='#carouselIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=1' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=2' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='https://picsum.photos/400/300?random=3' alt='Third slide')
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Modal Eleven
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close         
// modal 12
#ModalTwelve.modal.fade(role='dialog' aria-labelledby='ModalTwelveLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Modal Twelve

            .modal-body

                #carouselIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselIndicators' data-slide-to='0')
                        li(data-target='#carouselIndicators' data-slide-to='1')
                        li(data-target='#carouselIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='/assets/img/trillium/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/trillium/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/trillium/3.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='/assets/img/trillium/4.jpg' alt='First slide')
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Trillium 
                    p Facilties Under management 
                        ul
                            li XXX residential lots, 
                            li Concierge, 
                            li Pool, 
                            li Gym, 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close   
