// modal 1       
#ModalOne.modal.fade(role='dialog' aria-labelledby='ModalOneLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title 1060 Carnegie

            .modal-body

                #carouselIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselIndicators' data-slide-to='0')
                        li(data-target='#carouselIndicators' data-slide-to='1')
                        li(data-target='#carouselIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/1060/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/1060/2.jpg' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/1060/3.jpg' alt='Third slide')
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead 1060 Dandenong Road Carnegie 
                    p Facilties Under management 
                        ul
                            li 173 Residential lots,
                            li 3 Commercial lots
                            li 3 Elevators    
                            li Rooftop garden and BBQ
                            li Communal area
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close
           
// modal 2       
#ModalTwo.modal.fade(role='dialog' aria-labelledby='ModalTwoLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title Galleria

            .modal-body

                #carousel2Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel2Indicators' data-slide-to='0')
                        li(data-target='#carousel2Indicators' data-slide-to='1')
                        li(data-target='#carousel2Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/galleria/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/galleria/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/galleria/3.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/galleria/4.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/galleria/5.jpg' alt='First slide')     
                    a.carousel-control-prev(href='#carousel2Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel2Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    p.lead Galleria 
                    p.lead 52 O'Sullivan Road Glen Waverley
                    p Facilties Under management 
                        ul
                            li 266 Lots under management, 
                            li 9 Retail units
                            li 2 Elevators
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close                
// modal 3       
#ModalThree.modal.fade(role='dialog' aria-labelledby='ModalThreeLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel3Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel3Indicators' data-slide-to='0')
                        li(data-target='#carousel3Indicators' data-slide-to='1')
                        li(data-target='#carousel3Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/1060/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/1060/2.jpg' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/1060/3.jpg' alt='Third slide')
                    a.carousel-control-prev(href='#carouse3lIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel3Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title La Trobe Place
                    p.lead 21 Plenty Road Bundoora
                    p Facilties Under management 
                        ul
                            li 91 Lots under management
                            li Concierge 
                            li Pool
                            li Gym 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close      
// modal 4       
#ModalFour.modal.fade(role='dialog' aria-labelledby='ModalFourLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel4Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel4Indicators' data-slide-to='0')
                        li(data-target='#carousel4Indicators' data-slide-to='1')
                        li(data-target='#carouse4Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/lakeside/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/3.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/4.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/5.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/6.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/7.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/8.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/9.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/10.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/11.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/12.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/lakeside/13.jpg' alt='First slide')                   
                    a.carousel-control-prev(href='#carousel4Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel4Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title Lakeside Apartments
                    p.lead 77 Queens Road Albert Park
                    p Facilties Under management 
                        ul
                            li 159 Lots under management 
                            li Gymnasium
                            li Pool, 
                            li 2 Elevators 
                            li 2 Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close               
// modal 5       
#ModalFive.modal.fade(role='dialog' aria-labelledby='ModalFiveLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel5Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel5Indicators' data-slide-to='0')
                        li(data-target='#carousel5Indicators' data-slide-to='1')
                        li(data-target='#carousel5Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/hawthorn/1.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='./assets/img/hawthorn/2.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='./assets/img/hawthorn/3.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='./assets/img/hawthorn/4.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='./assets/img/hawthorn/5.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='./assets/img/hawthorn/6.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='./assets/img/hawthorn/7.jpg' alt='First slide')   
                        .carousel-item
                             img.d-block.w-100(src='./assets/img/hawthorn/8.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='./assets/img/hawthorn/9.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='./assets/img/hawthorn/10.jpg' alt='First slide')                 
                    a.carousel-control-prev(href='#carousel5Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel5Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title Hawthorn Park
                    p.lead 208 Camberwell Rd Hawthorn East
                    p Facilties Under management 
                        ul
                            li 361 Lots under management, 
                            li 2 Retail units 
                            li Pool, 
                            li Gymnasium 
                            li 8 Elevators 
                            li BBQ 
                            li Concierge 
                            li 2 Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close        

// modal 6       
#ModalSix.modal.fade(role='dialog' aria-labelledby='ModalSixLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel6Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel6Indicators' data-slide-to='0')
                        li(data-target='#carousel6Indicators' data-slide-to='1')
                        li(data-target='#carousel6Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/made/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/made/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/made/3.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/made/4.jpg' alt='First slide')   
                    a.carousel-control-prev(href='#carousel6Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel6Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title Made Apartments
                    p.lead 115 Church St Richmond
                    p Facilties Under management 
                        ul
                            li 76 Lots under management
                            li Concierge 
                            li Pool 
                            li Gym 
                            li Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close      
// modal 7       
#ModalSeven.modal.fade(role='dialog' aria-labelledby='ModalSevenLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel7Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel7Indicators' data-slide-to='0')
                        li(data-target='#carousel7Indicators' data-slide-to='1')
                        li(data-target='#carousel7Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/nelson/1.jpg' alt='First slide')
                    .carousel-inner
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/nelson/2.jpg' alt='First slide')   
                    .carousel-inner
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/nelson/3.jpg' alt='First slide')   
                    .carousel-inner
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/nelson/4.jpg' alt='First slide')   
                    .carousel-inner
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/nelson/5.jpg' alt='First slide')  
                    .carousel-inner
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/nelson/6.jpg' alt='First slide')                                
                    a.carousel-control-prev(href='#carousel7Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel7Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title Nelson Bourke
                    p.lead 1 Nelson St Ringwood
                    p Facilties Under management 
                        ul
                            li 110 Lots under management, 
                            li 2 Elevators
                            li Communal area
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close                                          
// modal 8       
#ModalEight.modal.fade(role='dialog' aria-labelledby='ModalEightLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel8Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel8Indicators' data-slide-to='0')
                        li(data-target='#carousel8Indicators' data-slide-to='1')
                        li(data-target='#carousel8Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/north/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/north/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/north/3.jpg' alt='First slide')
                    a.carousel-control-prev(href='#carousel8Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel8Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title North Apartments
                    p.lead 33 Blackwood St North Melbourne 
                    p Facilties Under management 
                        ul
                            li 451 Lots under management 
                            li 14 Retail and office units    
                            li Concierge
                            li 7 Elevators 
                            li BBQ
                            li Garden and reflection pool 
                            li Pool & Spa
                            li Gymnasium
                            li Communal area
                            li 278 car spaces across 3 basement levels
                            li 170 Storage units
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close        
// modal 9       
#ModalNine.modal.fade(role='dialog' aria-labelledby='ModalNineLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel9Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel9Indicators' data-slide-to='0')
                        li(data-target='#carousel9Indicators' data-slide-to='1')
                        li(data-target='#carousel9Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/oros/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/oros/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/oros/3.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/oros/4.jpg' alt='First slide')    
                    a.carousel-control-prev(href='#carousel9Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel9Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title Oros+ Apartments 
                    p.lead 807-811 Warrigal Rd Oakleigh
                    p Facilties Under management 
                        ul
                            li 363 Lots under management
                            li 4 Retail lots 
                            li 7 Elevators   
                            li Concierge 
                            li Pool 
                            li Gymnasium
                            li BBQ 
                            li 3 Communal areas
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close      
// modal 10       
#ModalTen.modal.fade(role='dialog' aria-labelledby='ModalTenLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel10Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel10Indicators' data-slide-to='0')
                        li(data-target='#carousel10Indicators' data-slide-to='1')
                        li(data-target='#carousel10Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/panorama/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/panorama/2.jpg' alt='Second slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/panorama/3.jpg' alt='Third slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/panorama/4.jpg' alt='Third slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/panorama/5.jpg' alt='Third slide')          
                    a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel10Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title Panarama Apartments
                    p.lead 101 Tram Rd Doncaster
                    p Facilties under management 
                        ul
                            li 201 Lots under management,
                            li 4 Retail units 
                            li 2 Elevators
                            li BBQ/Communal Garden Area
                            li Gymnasium
                            
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close    
// modal 11       
#ModalEleven.modal.fade(role='dialog' aria-labelledby='ModalElevenLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ModalOneLabel.modal-title 

            .modal-body

                #carousel11Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel11Indicators' data-slide-to='0')
                        li(data-target='#carousel11Indicators' data-slide-to='1')
                        li(data-target='#carousel11Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/summus/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/summus/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/summus/3.jpg' alt='First slide')
                        .carousel-item
                             img.d-block.w-100(src='./assets/img/summus/4.jpg' alt='First slide')    
                    a.carousel-control-prev(href='#carousel11Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel11Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title Summus Apartments
                    p.lead 2 Wests Rd Maribyrnong
                    p Facilties Under management 
                        ul
                            li 137 Lots under management
                            li 2 Retail lots 
                            li 2 Elevators 
                            li BBQ
                            li Communal area
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close         
// modal 12
#ModalTwelve.modal.fade(role='dialog' aria-labelledby='ModalTwelveLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel12Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel12Indicators' data-slide-to='0')
                        li(data-target='#carousel12Indicators' data-slide-to='1')
                        li(data-target='#carousel12Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/trillium/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/trillium/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/trillium/3.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/trillium/4.jpg' alt='First slide') 
                    a.carousel-control-prev(href='#carousel12Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel12Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title Trillium Apartments
                    p.lead 36 La Trobe Street, Melbourne CBD
                    p Facilties Under management 
                        ul
                            li 220 Lots under management
                            li 1 Retail unit
                            li 2 Elevators
                            li BBQ 
                            li Communal area
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close   
// modal 13
#ModalThirteen.modal.fade(role='dialog' aria-labelledby='ModalThirteenLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel13Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel13Indicators' data-slide-to='0')
                        li(data-target='#carousel13Indicators' data-slide-to='1')
                        li(data-target='#carousel13Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/victoriasquare/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/victoriasquare/2.jpg' alt='second slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/victoriasquare/3.jpg' alt='thirds slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/victoriasquare/4.jpg' alt='fourth slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/victoriasquare/5.jpg' alt='fifth slide')        
                    a.carousel-control-prev(href='#carousel13Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel13Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title Victoria Square
                    p.lead 8 Hopkins St, Footscray VIC 3011.
                    p Facilties Under management 
                        ul
                            li 434 Lots under management
                            li 11 Retail units
                            li Concierge
                            li 4 Elevators
                            li Pool 
                            li Gym
                            li BBQ 
                            li 3 Communal areas
                            li Running track  
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close   
// modal 14
#ModalFourteen.modal.fade(role='dialog' aria-labelledby='ModalFourteenLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                

            .modal-body

                #carousel14Indicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel14Indicators' data-slide-to='0')
                        li(data-target='#carousel14Indicators' data-slide-to='1')
                        li(data-target='#carousel14Indicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./assets/img/teri/1.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/teri/2.jpg' alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='./assets/img/teri/3.jpg' alt='First slide')
                    a.carousel-control-prev(href='#carousel14Indicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel14Indicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

                .p-4
                    h5#ModalOneLabel.modal-title Teri Apartments
                    p.lead 85 Market Street, South Melbourne 3205.
                    p Facilties Under management 
                        ul
                            li 195 Lots under management
                            li 3 Retail units
                            li 3 Elevators
                            li BBQ 
                            li Communal area
            .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') Close   
