// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//
@import './colors.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (primary: $indigo,
  secondary: $orange,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (sm: 100%,
  md: 100%,
  lg: 710px,
  xl: 980px,
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import './fonts.scss';
@import './bootstrap/bootstrap.scss';

/* globals */
html,
body {
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 20px;
  @include font-size(1.2rem);
  line-height: 1.5;
  margin-bottom: 20px;
}

.lead {
  //font-size: 2rem;
  @include font-size(1.8rem);
}

h1, .h1 {

  //font-size: 2rem;
  @include font-size(2.7rem);

}
h2, .h2 {

  //font-size: 2rem;
  @include font-size(2rem);

}

img {
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}

.bg-primary {
  color: #fff;
  border-bottom: 0.2rem solid $orange;
}

hr {
  display: block;
  height: 0.2rem;
  border: 0;
  border-top: 0.2rem solid $orange;
  margin: 1em 0;
  padding: 0;
}

.logo,
.logonav {

  background-size: cover;
  background-image: url($logo);
}

.logo {
  width: 217px;
  height: 48px;
}

.logonav {
  width: 129px;
  height: 28px;
  width: 9rem;
  height: 2rem;

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { width: 11.51rem;
  height: 2.50rem; }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

}
.navspacer
{
  height: 4rem;
}

.orange-border-top {
  border-top: 0.2rem solid $orange;
}

.orange-border-bottom {
  border-bottom: 0.2rem solid $orange;
}

/* Animations */
.to-fade-in {
  opacity: 0;

  &.fade-in {
    animation: fade-in 2s forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

/* Navbar */

.navbar {
  border-bottom: 0.2rem solid $orange;
  padding: 1rem;
}

.navbar-nav {
  font-weight: bold;
  font-size: 1.25rem;
}

/* navbar toggle styart*/
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #000;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}

.sec-accent {
  background-color: #fafcf5;
}

.blue {
  background-color: #9999cc;
}

/*navbar toggle end */
video {
  /* override other styles to make responsive */
  width: 100% !important;
  height: auto !important;
  z-index: -100;
}
//* video helpers*/@at-root

.vert-center-text {
  position: absolute; 
  top: 20%; 
  @media (min-width: 576px) {top: 20%;  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {top: 40%;  left: 10%;width: 80%; }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
  
  color: #fff
}

.vert-center-container {
 position:relative;
}

.hover {
  width: 100%;
  padding: 20px;
  margin-left: 0%;
  margin-top: -250px;
  z-index: 100;
  //background: red;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.77);

  .lead {
    //font-size: 2rem;
  @include font-size(3rem);
    position: relative;
    bottom: 0;
  }
}

/*home */
.hero-1 {
  background-image: url("https://assetbm.com.au/img/couple-on-balcony.jpg");
  background-size: contain;
  background-position: center;
  background-size: cover;
  min-height: 400px;

}

.hero-2 {
  background-image: url("https://assetbm.com.au/img/hawthorn-park.jpg");
  background-size: contain;
  background-position: center;
  background-size: cover;
  min-height: 400px;

}

/*section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 1200px;
    background: #f00;
    box-shadow:0px 25px 30px rgba(0,0,0,.5);
    display: flex;
    
}*/
.content {
  width: calc(50% - 50px);
  height: 100%;
  background: #000;
  box-sizing: border-box;
  padding: 30px 50px;
  color: #fff;
  font-family: sans-serif;
  line-height: 25px;

}

.image-box {
  width: calc(50% + 50px);
  height: 100%;
  background: #f00;
  box-sizing: border-box;
  border-left: 100px solid #000;
  border-bottom: 400px solid transparent;
  background: url(http://www.divscode.com/bootimg/pexel.jpeg);
  background-position: -350px -59px;
  background-repeat: no-repeat;

}

#Home {

}

/* Cards / Portfolio */
.card-deck {
  display: flex;
}

.card {
  filter: saturate(70%);
  /* No effect */
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  filter: saturate(100%);
  /* No effect */
  -webkit-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.25);

}

#portfolio {
  background: #eeeeee;
}

/*modals*/
.modal-body {
  padding: 0rem;
}

/* Contact page */

.gm-image {
  background-image: url("https://assetbm.com.au/img/krishna.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .caption {
    //background: rgba(0, 0, 0, 0.5);
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
    position: relative;
    bottom: 0;
    top: 100%;
    transform: translateY(-100%);
    font-size: 1rem;

    p {
      margin-bottom: 0px;
    }
}
#Contact {
  .hero {

    .quote {}

      .caption {
        //background: rgba(0, 0, 0, 0.5);
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        color: #fff;
        position: relative;
        bottom: 0;
        top: 100%;
        transform: translateY(-100%);
        font-size: 1rem;

        p {
          margin-bottom: 0px;
        }
      }

    }

  }

  .formarea {}
}

//Footer
.footer hr {
  max-width: 100%;
  border-color: $orange;
}

.footer {
  background: linear-gradient(174deg, $indigo, $indigo 65%, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 1) 100%);
  top: -1px;
  position: relative;
}

.skew {
  background: url('./assets/img/hawthorn/1.jpg');
  background-size: cover;
  transform: skewY(-4deg);
  height: 300px;
  //top: -1px;
  padding-bottom: 110px;
}

.deskew {
  background: white;
  //transform: skewY(-4deg);
  height: 100px;
  bottom: -120px;
  position: absolute;

}

/* services */
#services {

  .bg-concierge {
    background-image: url("https://www.marketplace.org/wp-content/uploads/2019/01/GettyImages-993234810.jpg");
    background-size: contain;
    background-position: center;
    background-size: cover;
    min-height: 400px;

  }

  h3.underline
  {
    background-size: 1px 1em;
    box-shadow:
      inset 0 -0.175em white,
      inset 0 -0.2em #000;
    display: inline;
    padding-top: 0.5rem;
    
  }
}

.icon {
  img {
    display: block;

    //width: 40%;
  }

}

/* about */
#about {}

.hero-3 {

  background-image: url("https://assetbm.com.au/img/woman-on-balcony.jpg");
  background-size: contain;
  background-position: center;
  background-size: cover;
  min-height: 400px;

}

.hero-4 {
  background-image: url("https://ectobox.com/wp-content/uploads/2020/07/our-process.jpg");
  background-size: contain;
  background-position: center;
  background-size: cover;
  min-height: 400px;

}