- var pagetitle = "About us";
- var og_title = "Learn about us";
- var og_site_name = "AssetBM";
- var og_url = "https://assetbm.com.au/about.html";
- var og_description = "Melbourne's leader in community strata management. We're the first choice for Owner's Corporations and new residential developments.";
- var og_image = "https://assetbm.com.au/img/icons/index.jpg";
include partials/head.pug
include partials/nav.pug
#about.pt-5
    .container-fluid.bg-primary.bg-services
        .container
            .row.pt-5
                .col.pt-5.pb-5
                    h2.h1.text-center It’s what we do and how we do it
                    p.lead
                        | At AssetBM our team’s experience level is unrivalled including building management, operations management, risk mitigation, compliance and defect management. 
                        br
                        br
                        | These disciplines are supported with ongoing quality improvement and client management.
    .container-fluid.bg-light.bg-services
        .containers
            .row
                .col-12.col-md-6.pt-5.pl-5.pr-5
                    img(src="https://assetbm.com.au/img/woman-on-balcony.jpg", alt="")
                .col-12.col-md-6.pt-5.p-5.pr-2
                    .row
                        h3.h2 Growing with you 
                        p.to-fade-in
                            | AssetBM is a dynamic residential facilities management company. With a growing portfolio of satisfied communities under its management, it is quickly becoming the leader in Melbourne’s large residential governance.
    .container-fluid.bg-light.bg-services
        .containers
            .row.border-bottom
                .col-12.order-2.order-md-2.col-md-6.pt-5.pl-5.pr-5
                    .row
                        h3.h2 Ongoing improvement, inside and out  
                        p.to-fade-in
                            | If you are looking to improve your building management delivery with a new partner, we can provide a timely proposal, so you're ready to make an informed choice, should it be a new development or the current contract is nearing its end.
                .col-12.order-1.order-md-2.col-md-6.pt-5.pb-5
                    video#vid(width='100%' poster='https://assetbm.com.au/img/hero.png' playsinline='' autoplay='' muted='')
                        source(src='./assets/img/video/maintenance.webm' type='video/webm')
                        source(src='./assets/img/video/maintenance.mp4' type='video/mp4')
    .container-fluid.bg-primary.border-0
        .container-fliud.orange-border-top
            .container
                .row.no-gutters
                    .col.pt-5.pb-5.text-center
                        p.h2.pb-3 Want to know more? Get in touch 
                        p.text-center
                            a.btn.btn-outline-light.btn-lg(href='contact.html' title='Contact page') Contact

include partials/footer.pug    