include partials/head.pug
include partials/nav.pug
#about
    .container-fluid.bg-primary.bg-services
        .container
            .row
                .col.pt-5.pb-5
                    p.h1 It’s what we do, and how we do it
                    p.lead
                        | At AssetBM our team’s experience level is unrivalled including building management, operations management, risk mitigation, compliance and defect management. 
                        br
                        br
                        | These disciplines are supported with ongoing quality improvement and client management.
    .container-fluid.bg-light.bg-services
        .containers
            .row
                .col-6.pt-5.pb-5.hero-3.align-self-stretch
                .col-6.pt-5.p-5.pr-2
                    .row
                        h3.h2 Growing with you 
                        p.lead
                            | AssetBM is a dynamic residential facilities management company. With a growing portfolio of satisfied communities under its management, it is quickly becoming the leader in Melbourne’s large residential governance.
    .container-fluid.bg-light.bg-services
        .containers
            .row.border-bottom
                .col-6.pt-5.p-5.pr-2
                    .row
                        h3.h2 Ongoing improvement, inside and out  
                        p.lead
                            | We support our team to continue to develop personally and professionally, providing them with ongoing educational opportunities, in-house training, participation in online training sessions.
                .col-6.pt-5.pb-5.hero-4.align-self-stretch
    .container-fluid.bg-primary.orange-border-top
        .container
            .row.no-gutters
                .col.pt-5.pb-5.text-center
                    p.h2.pb-3 Want to know more? Get in touch 
                    p.text-center
                        a.btn.btn-outline-light.btn-lg(href='contact.html' title='Contact page') Contact

include partials/footer.pug    