- var pagetitle = "Melbourne's community and residence managers";
- var og_title = "AssetBM";
- var og_site_name = "AssetBM";
- var og_url = "https://assetbm.com.au";
- var og_description = "Melbourne's leader in community strata management. We're the first choice for Owner's Corporations and new residential developments.";
- var og_image = "https://assetbm.com.au/img/icons/index.jpg";
include partials/head.pug
include partials/nav.pug
#home
.container-fluid
    .row.bg-light.navspacer
    .row
        .col-xs-12.vert-center-container
            video.img-responsive(autoplay='' style='width:100%' playsinline='' muted='')
                source(src='https://assetbm.com.au/img/hero.webm')
                source(src='https://assetbm.com.au/img/hero.mp4' type='video/mp4')
            .vert-center-text.text-center
                p.to-fade-in.h1.text-center
                    span.pt-1
                    b.pt-5.shadow Melbourne’s leader in community management

        //.col-12.bg-video
            video#vid(width='100%' poster='https://assetbm.com.au/img/hero.png' playsinline='' autoplay='' muted='')
                source(src='https://assetbm.com.au/img/hero.webm' type='video/webm')
                source(src='https://assetbm.com.au/img/hero.mp4' type='video/mp4')
            .hover.text-center
                p.to-fade-in.lead.pt-5
                    span.pt-1
                    b.pt-5 Melbourne’s leader in community management
                //a.btn.btn-outline-light.btn-lg(href='https://assetbm.com.au/v2/services') Learn more
.container-fluid.bg-light.orange-border-bottom
    .container
        .row.pb-5
            .col-12
                p.h2.pt-5  A fresh approach to residential facilities management
            .col-12.col-md-6.pt-5.pb-0.pb-md-5
                p.to-fade-in.h3  Melbourne's own
                p.to-fade-in
                    | Bringing local focus on community management in Melbourne’s premier residential apartments, AssetBM is the choice of astute developers and OC managers seeking a trusted partner.
                p.to-fade-in.h3  Community experts
                p.to-fade-in
                    | With a community minded approach and a service first model, we are able to negotiate the many moving parts of strata management to provide value to the vertical neighbourhoods we manage.
            .col-12.col-md-6.pt-0.pt-md-5.pb-5
                p.to-fade-in.h3  21st Century Ready
                p.to-fade-in
                    | By employing modern systems of facilities management and persistent communications with stakeholders and contractors, we’re able to deliver the best outcomes for residences that foster healthy communities.
                p.to-fade-in.h3  Trusted by others
                p.to-fade-in
                    | With over 15 communmities in our growing portfolio and over 3500 lots under our management, our satisfied clients enjoy a trusted partner in their investment in premier lifestyle residences.
.container-fluid.bg-primary.bg-services
    .containers
        .row
            .col-12.col-md-7.pt-5.pb-5.hero-1.align-self-stretch
            .col-12.col-md-5.pt-5.p-5.pr-2
                .row
                    h3 It’s our people that make the difference 
                    p.to-fade-in
                        | With a dedicated team who understand the importance of community and belonging, at AssetBM we strive to ensure our exceptional level of service is consistently maintained.
.container-fluid.bg-primary.bg-services.border-0
    .containers
        .row.border-bottom
            .order-2.order-md-1.col-12.col-md-5.pt-5.p-5.pr-2
                .row
                    h3 It’s your community that benefits
                    p.to-fade-in
                        | With seamless management of residents, builders, subcontractors and facilities, a long-term sustainable community can flourish.
            .order-1.order-md-2.col-12.col-md-7.pt-5.pb-5.hero-2.align-self-stretch
#portfolio.container-fluid.bg-default.orange-border-top.orange-border-bottom
    a#portfolio.sr-only
    .container
        .row.pb-5
            .col-12.pt-5
                p.h2.pt-5.text-center  You’re in good company
                p.lead.to-fade-in
                    | We manage over 15 of Melbourne’s prestige vertical residences, and are the preferred choice for developers and established owners’ corporations.
            .container.pt-5.pb-5
                
                .card-deck.row
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalOne')
                        img.card-img-top(src='./assets/img/1060/1-4-3.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title 1060 Carnegie
                            p.card-text
                                | 1060 Dandenong Road Carnegie.
                            p.card-text
                                small.text-muted.float-right click for details


                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalTwo')
                        img.card-img-top(src='https://assetbm.com.au/img/galleria.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Galleria Glen Waverley
                            p.card-text 52 O'Sullivan Road Glen Waverley.
                            p.card-text
                                small.text-muted.float-right click for details
                |               
                .card-deck.row.pt-4
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalThree')
                        img.card-img-top.embed-responsive.embed-responsive-4by3(src='https://assetbm.com.au/img/latrobe.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title La Trobe Place
                            p.card-text 21 Plenty Road Bundoora. 
                            p.card-text
                                small.text-muted.float-right click for details
                            p

                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalFour')
                        img.card-img-top(src='https://assetbm.com.au/img/lakeview.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Lakeside Apartments
                            p.card-text 77 Queens Road Albert Park. 
                            p.card-text
                                small.text-muted.float-right click for details
            .container    
                div.text-center
                    a#LoadMore.btn.btn-lg.btn-outline-primary(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
                        | Load more

            #collapseExample.collapse.container                   
                .card-deck.row.pt-4
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalFive')
                        img.card-img-top(src='https://assetbm.com.au/img/hawthorn.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Hawthorn Park
                            p.card-text 208 Camberwell Rd Hawthorn East. 
                            p.card-text
                                small.text-muted.float-right click for details
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalSix')
                        img.card-img-top(src='https://assetbm.com.au/img/made.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Made Apartments
                            p.card-text 115 Church St Richmond.
                            p.card-text
                                small.text-muted.float-right click for details
                |               
                |               
                .card-deck.row.pt-4
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalSeven')
                        img.card-img-top(src='https://assetbm.com.au/img/nelson.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Nelson Bourke
                            p.card-text 1 Nelson St Ringwood.
                            p.card-text
                                small.text-muted.float-right click for details
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalEight')
                        img.card-img-top(src='https://assetbm.com.au/img/north.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title North apartments
                            p.card-text 33 Blackwood St North Melbourne.
                            p.card-text
                                small.text-muted.float-right click for details
                |               
                |               
                .card-deck.row.pt-4
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalNine')
                        img.card-img-top(src='https://assetbm.com.au/img/oros.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Oros+ Aprtments
                            p.card-text 807-811 Warrigal Rd Oakleigh.
                            p.card-text
                                small.text-muted.float-right click for details
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalTen')
                        img.card-img-top(src='https://assetbm.com.au/img/panorama.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Panorama Apartments
                            p.card-text 101 Tram Rd Doncaster.
                            p.card-text
                                small.text-muted.float-right click for details
                |               
                |               
                .card-deck.row.pt-4
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalEleven')
                        img.card-img-top.img-responsive(src='https://assetbm.com.au/img/summus.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Summus
                            p.card-text 2 Wests Rd Maribyrnong. 
                            p.card-text
                                small.text-muted.float-right click for details
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalTwelve')
                        img.card-img-top(src='https://assetbm.com.au/img/trillium.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Trillium
                            p.card-text 36 La Trobe Street Melbourne CBD. 
                                small.text-muted.float-right click for details
                |
                .card-deck.row.pt-4
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalThirteen')
                        img.card-img-top.img-responsive(src='./assets/img/victoriasquare/1.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Victoria Square
                            p.card-text 8 Hopkins St Footscray. 
                            p.card-text
                                small.text-muted.float-right click for details            
                    .card.col-12.col-md-6.p-0(data-toggle='modal' data-target='#ModalFourteen')
                        img.card-img-top.img-responsive(src='./assets/img/teri/1.jpg' alt='Card image cap')
                        .card-body
                            h5.card-title Teri Apartments
                            p.card-text 85 Market Street South Melbourne. 
                            p.card-text
                                small.text-muted.float-right click for details
.container-fluid.bg-primary.border-0
    .container
        .row.pb-5
            .col-12
                p.h2.pt-5.text-center.to-fade-in  A fresh approach to residential facilities management
                p.lead.text-center.to-fade-in
                    | Discover how you can better support your residential community through a partnership with us
                    br
                    a.btn.btn-outline-light.btn-lg.mt-4(href='https://assetbm.com.au/v2/contact') Contact us
                | 
include partials/modals.pug                                                                                                          
include partials/footer.pug
script.
  function myFunction() {
  document.getElementById("LoadMore").style.color = "red";
  }
