include partials/head.pug
include partials/nav.pug
#services
    .container-fluid.bg-light.bg-services
        .container
            .row
                .col.pt-5.pb-5
                    p.lead.text-center
                        | We pride ourselves on our internal systems so we can meet the requirements of our clients. Communication, whether internally, or with our clients,
                        br
                        |  we ensure all parties are on the same page. 
                        br
                        |  We have ratified policies that are inline with best practice and legislative requirements.
    .container-fluid.bg-primary
        .container
            .row
                .col.pt-5
                    .row
                        h2.h1.col.pl-4 A comprehensive service delivery
                .row
                    .col-6.p-5
                        h3 Facilities and Building management
                        p.pb-4
                            | On site, on task and on time. Our dedicated staff are the backbone of the residence management across Melbourne. We understand the moving parts of complex buildings and their support staff, and the leading service providers in the industry.
                        h3 Contract cleaning 
                        p.pb-4
                            | An essential service to every residential community, best practice management of cleaning services is at the forefront of our service delivery. With scalable responses to meet needs, we are able to tailor the right approach for our communities.
                        h3
                            | Owner’s Corporation handover
                        p.pb-4
                            | Change management doesn’t need to be difficult. With a comprehensive checklist and the experience of a broad portfolio of residences, we take a forensic approach to transition periods for communities.
                        h3 Tender Negotiations
                        p.pb-4
                            | Getting the best value from your contractors, stakeholders and service providers is critical for high value and long term commercial agreements. Knowing the fine print is the success of this will ensure all parties have a positive outcome. AssetBM is a dedicated advocate in managing these relationships from signature to the final clause.
                    .col-6.p-5
                        h3 Concierge service 
                        p.pb-4
                            | With a growing need for ‘at home’ services, a dedicated concierge staff that provides value to residences is becoming an essential service. We can advice on service models so that this presence is of value to the entire community
                        h3 Development consultation 
                        p.pb-4
                            | From the blueprints of a new development project, ensuring facilities and building management meets the needs of a future community provides opportunities for healthy partnerships and relationships. We can provide the insights to ensure you make the best foot forward in providing a home for your new residential community.
                        h3 Community Management 
                        p.pb-4
                            | Meeting the variety of needs of a sustainable community requires experience and insight. AssetBM has a proven track record of managing residences, large and small, and the changing requirements of a dynamic neighbourhood
                        h3
                            | Consulting, Residential community management
                        p.pb-5
                            | Not all our clients have an ongoing service provision with us. We’re able to highlight opportunities in your current agreement, or provide ‘one off’ consultancy services to ensure you back is covered. All the above services on this page we offer as ad hoc management and consultancy
    .container-fluid.bg-light.bg-services
        .containers
            .row
                .col-5.pt-5.p-5.pr-2
                    .row
                        h3 21st century tools  
                        p
                            | We pride ourselves on our internal systems so we can meet the requirements of our clients. Communication, whether internally, or with our clients, we ensure all parties are on the same page. 
                            br
                            |  We have ratified policies that are inline with best practice and legislative requirements.
                        h3 Experts across environments  
                        p
                            | We pride ourselves on our internal systems so we can meet the requirements of our clients. Communication, whether internally, or with our clients, we ensure all parties are on the same page. 
                            br
                            |  We have ratified policies that are inline with best practice and legislative requirements.
                .col-7.pt-5.pb-5.bg-concierge.align-self-stretch
.container-fluid.bg-primary.border-0
    .container
        .row
            .col.pt-5.pb-5
                .row
                    p.lead.text-center
                        | We are a growing company, and offer our staff opportunities to develop their skills within our model of excellence. This investment pays dividends to our residential communities.
                        br
                        br
                        |  Contact us today to learn how we can support you.
                        br
                        a.btn.btn-outline-light.btn-lg.mt-5(href='https://assetbm.com.au/v2/contact') Contact us


include partials/footer.pug    