- var pagetitle = "Our services";
- var og_title = "AssetBM's service delivery";
- var og_site_name = "AssetBM";
- var og_url = "https://assetbm.com.au/services.html";
- var og_description = "A comprehensive portfolio of services for all OC managed residential communities";
- var og_image = "https://assetbm.com.au/img/icons/index.jpg";
include partials/head.pug
include partials/nav.pug
#services
    .container-fluid.bg-light.bg-services
        .container
            .row.pt-5
                .col.p-5
                    h2.h1.text-center Our Services
                    p.lead
                        | We pride ourselves on our internal systems so we can meet the requirements of our clients. Communication, whether internally, or with our clients,
                        |  we ensure all parties are on the same page. 
                        br
                        | 
                        br
                        |  We have ratified policies that are inline with best practice and legislative requirements.
                        | AssetBM offers these listed services both in a consultancy and building management capacity.        

    .container-fluid.bg-primary

   
            .col.pt-5
                .row
                    h2.h1.col.pb-4.text-center 
                        | A comprehensive service delivery
            .row.mt-5
                .col-3.col-md-3.icon
                    img.img-fluid.float-right(src='./assets/img/icons/facilities.png' alt='Girl in a jacket' width='250' height='250')
                .col-9.col-md-3.pl-2
                    h3
                        i.fa.fa-square(aria-hidden='true')
                        | Facilities and Building management
                    p.to-fade-in.pb-4
                        | On site, on task and on time. Our dedicated staff are the backbone of the residence management across Melbourne. We understand the moving parts of complex buildings together with their support staff, and this experience provides us with direct access to the leading service providers in the industry.

                .col-9.col-md-3.pl-2
                    h3.pl-2.pl-md-0 Contract cleaning 
                    p.to-fade-in.pb-4.pl-2.pl-md-0
                        | An essential component to every residential community, best practice cleaning management is at the forefront of our service delivery. With scalable approaches to meet our clients needs, we structure a tailored strategy specifically for our various communities.
                .col-3.col-md-3.icon 
                    img.img-fluid(src='./assets/img/icons/care.png' alt='Girl in a jacket' width='250' height='250')

            .row    
                .col-3.col-md-3.icon 
                    img.img-fluid.float-right(src='./assets/img/icons/partnership.png' alt='Girl in a jacket' width='250' height='250')

                .col-9.col-md-3.pl-2
                    h3
                        | Owner’s Corporation handover
                    p.to-fade-in.pb-4
                        | Change management doesn’t need to be difficult. With a comprehensive checklist and the experience of a broad portfolio of residences, we take a forensic approach to transitional periods for communities.
                .col-9.col-md-3.pl-2
                    h3 Tender Negotiations
                    p.to-fade-in.pb-4
                        | Getting the best value from your contractors, stakeholders and service providers is critical for high value and long term commercial agreements. Knowing the fine print is pivotal to the success in this area and ensures a positive outcome for all parties. AssetBM is a dedicated advocate in managing these relationships from signature to the final clause.
                .col-3.col-md-3.icon
                    img.img-fluid(src='./assets/img/icons/checklist.png' alt='Girl in a jacket' width='250' height='250')

            .row
                .col-3.col-md-3.icon  
                    img.img-fluid.float-right(src='./assets/img/icons/comfort.png' alt='Girl in a jacket' width='250' height='250')

                .col-9.col-md-3.pl-2
                    h3 Concierge service 
                    p.to-fade-in.pb-4
                        |  With a growing need for 'at home' services, a dedicated concierge team that provides value to residents is becoming an essential service. AssetBM can showcase examples of various service models and provide advice on how to achieve the desired presence value for the comfort of the community.
                .col-9.col-md-3.pl-2
                    h3 Development consultation
                    p.to-fade-in.pb-4
                        | From the blueprints of a new development project, ensuring facilities and building management meet the needs of a future community provides opportunities for healthy partnerships and relationships. We provide comprehensive insight and legibly structured information to ensure the development process is set up for success, which subsequently creates a homely environment for your new residential community.

                .col-3.col-md-3.icon
                    img.img-fluid(src='./assets/img/icons/award.png' alt='Girl in a jacket' width='250' height='250')

            .row
                .col-3.col-md-3.icon 
                    img.img-fluid.float-right(src='./assets/img/icons/team.png' alt='Girl in a jacket' width='250' height='250')

                .col-9.col-md-3.pl-2     
                    h3 Community Management 
                    p.to-fade-in.pb-4
                        | Meeting the variety of needs of a sustainable community requires experience and insight. AssetBM has a proven track record of managing residences, large and small, and the changing requirements of a dynamic neighbourhood.
                .col-9.col-md-3.pl-2
                    h3
                        | Consulting - Residential community management
                    p.to-fade-in.pb-5
                        | Not all our clients have ongoing service provisions with us. We're able to highlight opportunities in your current agreement or provide a once-off consultancy service to ensure that all requirements have been cross-checked and incorporated. 
                .col-3.col-md-3.icon
                    img.img-fluid(src='./assets/img/icons/training.png' alt='Girl in a jacket' width='250' height='250')

    .container-fluid.bg-light.bg-services
    
        .row
            .col-12.order-2.col-md-5.pt-3.pl-5.pr-5
                .row
                    .col-12
                        h3 21st century tools  
                        p.to-fade-in
                            | We pride ourselves on our internal systems so we can meet the requirements of our clients. Communication, whether internally, or with our clients, we ensure all parties are on the same page. 
                    
                                        
            .col-12.order-1.col-md-7.p-0
                #vid
                video#vid(width='100%' poster='https://assetbm.com.au/img/hero.png' playsinline='' autoplay='' muted='')
                        source(src='./assets/img/video/concierge.webm' type='video/webm')
                        source(src='./assets/img/video/concierge.mp4' type='video/mp4')
.container-fluid.bg-primary.border-0
    .container
        .row
            .col.pt-5

                p.lead.text-center
                    | We are a growing company, and offer our staff opportunities to develop their skills within our model of excellence. This investment pays dividends to our residential communities.
                    br
                    br
                    |  Contact us today to learn how we can support you.
                    br
                    a.btn.btn-outline-light.btn-lg.mt-5(href='https://assetbm.com.au/v2/contact') Contact us


include partials/footer.pug    