- var pagetitle = "Contact Us";
include partials/head.pug
include partials/nav.pug
#Contact
.container-fluid.hero.bg-primary.no-border
    .row
        .container
            .row
                .col-12.pt-5
                    h1.pt-5.text-center Thank you
                    p.text-center  Your form has been submitted
                    p.text-center We'll get back to you shortly

include partials/footer.pug   